*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #292828e6;    
}

*, *::before, *::after {
    background-color: #000000d8;
    border-radius: 40px 40px 40px 40px;
}

.container{
   background-color: #000000d8;
   border: 0.1px solid white;
   border-radius: 40px 40px 40px 40px ;
}

.container > .display{
    height: 90px;
    display: flex;
    flex-grow: 1;
    flex-direction: column-reverse;
    text-align: right;
    padding-right: 15px;
    font-size: 50px;
    color: #faf7f7;
    border: 1px solid white;
    border-radius: 40px 40px 30px 30px;
    border-top: none;
}

.container > .buttons{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(10, 10, 10);
    justify-items: center;
    align-items: center;
    padding: 2rem;
}

.container > .buttons > .button {
    width:  60px;
    height: 60px;
    border-radius: 12px;
    font-size: 20px;
    color: rgb(249, 245, 245);
    cursor: pointer;
    padding: 10px;
    border: 1px solid orange;
    box-shadow: 0 5px orange;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    

}

.container > .buttons > #specialButton{
    width: 130px;
    height: 60px;
    box-sizing: border-box;
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 2rem;
}

.buttons > #allClearButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #deleteButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #percentageButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #addButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #minusButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #multiplyButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}

.buttons > #divideButton{
    background-color: orange;
    border: 1px solid black;
    color: black;
    font-size: 1.5rem;
}





